<% if obj.errors.any? %> 
    <div class="ui message">
    <i class="close icon"></i>
    <div class="header">
        Please avoid the following errors
    </div>
    <ul class="list">
        <% obj.errors.full_messages.each do |msg| %>
           <li> <%= msg %> </li>
        <% end %>
    </ul>
    </div>
<% end %>