@import "semantic-ui";

.chatbox{
    height: 450px;
}

.ui.vertical.menu{
    width: auto !important;
}

.mar-2{
    margin-bottom: 0.75rem !important;
}
.text-white{
    color: white !important;
}

#messages{
    height: 15em;
    overflow: auto;
}

.input{
    button{
        display: none;
    }
}
.text-center{
    text-align: center;
}



.field_with_errors input[type="text"] {
    width: 150% !important;
}
.field_with_errors input[type="password"] {
    width: 150% !important;
}