    <%= link_to 'Chatroom', root_path, class: "item" %>
    <a class="item">
        Messages
    </a>
    <div class="right menu">
        <div class="ui dropdown item">
            <% if !logged_in? %>
                Account <i class="dropdown icon"></i>
            <% else %>
                <%= @current_user.username.capitalize unless @current_user.blank? %> <i class="dropdown icon"></i>
            <% end %>   
            <div class="menu">
                <% if logged_in? %> 
                    <%= link_to 'Logout', logout_path, class: "item", method: :delete %>
                <% else %>
                    <%= link_to 'Log in', login_path, class: "item" %>
                <% end %>
                
            </div>
        </div>
    </div>